.bgGradient {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;
  margin: 0 auto 16px;
  padding: 4px 13px 4px 13px;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;

  &:after {
    background: linear-gradient(
      90.01deg,
      #e59cff3d 0.01%,
      #ba9cff3d 50.01%,
      #9cb2ff3d 100%
    );
    border-radius: inherit;
    content: '';
    inset: 0;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: xor;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    padding: 1px;
    pointer-events: none;
    position: absolute;
  }

  &:hover {
    box-shadow: inset 0 -7px 11px #a48fff3d;
  }

  svg {
    margin-right: 6px;
  }

  &-text {
    background: linear-gradient(0deg, #ffffff66, #ffffff66),
      linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
    background-blend-mode: normal, screen;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.bgText {
  background: linear-gradient(180deg, #fff 0%, #ffffff80 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  display: block;
}

.textFlux {
  color: #ffffffe6;
  text-shadow:
    0px 0px 17.4888px #320085,
    0px 0px 9.9936px #320085,
    0px 0px 5.8296px #320085,
    0px 0px 2.9148px #320085,
    0px 0px 0.8328px #320085,
    0px 0px 0.4164px #320085;
}

.bg-hero-page {
  background: linear-gradient(
    217deg,
    hsla(249, 100%, 4%, 1) 13%,
    hsla(274, 68%, 38%, 1) 55%,
    hsla(285, 50%, 74%, 1) 100%
  );

  background: -moz-linear-gradient(
    217deg,
    hsla(249, 100%, 4%, 1) 13%,
    hsla(274, 68%, 38%, 1) 55%,
    hsla(285, 50%, 74%, 1) 100%
  );

  background: -webkit-linear-gradient(
    217deg,
    hsla(249, 100%, 4%, 1) 13%,
    hsla(274, 68%, 38%, 1) 55%,
    hsla(285, 50%, 74%, 1) 100%
  );
}
