@import '../abstracts/variables';

.bg-button {
  overflow: hidden;
  transition: 0.3s ease all;
  position: relative;

  span {
    position: relative;
    z-index: 2;
    transition: 0.3s ease all;
    svg {
      // stroke: $bg-primary !important;
      transition: 0.7s ease-in-out all;
    }
  }
  &::after {
    content: '';
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 0;
    border-radius: 0px 0px 30px 30px;
    top: -100px;
    left: 0;
    transition: 0.5s ease-in-out all;
  }
  &::before {
    content: '';
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 0;
    border-radius: 30px 30px 0px 0px;
    bottom: -100px;
    left: 0;
    transition: 0.5s ease-in-out all;
  }
  &:hover {
    span {
      color: $bg-primary !important;
      svg {
        stroke: $bg-primary !important;
        stroke-width: 2px;
        transition: 0.3s ease-in-out all;
      }
    }
    &::after {
      top: 0;
    }
    &::before {
      bottom: 0;
    }
  }
}

.zoom {
  transition: 0.3s ease-in-out all;
  &:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out all;
  }
}
