.stack-card {
  &::before {
    background-color: #ffffff3d;
    content: '';
    display: block;
    height: 16px;
    left: 0;
    position: absolute;
    top: 88px;
    width: 1px;
  }

  &::after {
    background: linear-gradient(to bottom, #ffffff00 0%, #ffffff0f 100%);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) opacity;
    width: 100%;
  }
}
